[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "pytorch-cpu"

[packages]
pydantic-ai = "*"
aiohttp = "*"
pydantic = "*"
pytest = "*"
pytest-asyncio = "*"
pydantic-settings = "*"
pyyaml = "*"
sentence-transformers = "*"
numpy = "*"
aiosqlite = "*"
hdbscan = "*"
torch = {version = "*", index = "pytorch-cpu"}
rich = "*"

[dev-packages]
mkdocs = "*"
mkdocs-material = "*"
mkdocs-mermaid2-plugin = "*"
linkchecker = "*"

[requires]
python_version = "3.13"
